<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div  class="well">

                <h1>Plavetzki's House of Code <i>lite</i></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos doloremque eaque eum modi, quia reprehenderit unde voluptatem.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="parent">
            <label for="hy">Move stuff between these two containers. Note how the stuff gets inserted near the mouse pointer?
                Great stuff.</label>
                <div class='wrapper'>
                    <div class='container' [dragula]='"first-bag"'>
                        <div>You can move these elements between these two containers</div>
                        <div>Moving them anywhere else isn't quite possible</div>
                        <div>There's also the possibility of moving elements around in the same container, changing their position
                        </div>
                    </div>
                    <div class='container' [dragula]='"first-bag"'>
                        <div>This is the default use case. You only need to specify the containers you want to use</div>
                        <div>More interactive use cases lie ahead</div>
                        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on
                            GitHub!</a></div>
                    </div>
                </div>
        </div>
    </div>
</div>