<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Hosts']" icon="h-square"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4">
        <form action="" class="smart-form">
        <fieldset style="padding:10px 14px 5px">	
            <section style="margin-bottom: 5px">
            <label class="label">Import Hosts File</label>
            <label for="file" class="input input-file">
                <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" placeholder="hosts" readonly="">
            </label>
            </section>
            <a class="btn btn-xs btn-primary bg-color-green" (click)="importHosts($event)">Import</a>
        </fieldset>
        </form>
    </div>
  </div>
  <div class="row" style="padding-top:15px;">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body status">
                <div class="who clearfix">
                    <h4>Hosts File</h4>
                </div>
                <div class="text">
                    <fieldset style="padding: 0 5px">
                        <section>
                            <label class="textarea hosts-label" style="width:100%"> 										
                                <textarea spellcheck="false" rows="15" class="hosts-textarea custom-scroll"></textarea> 
                            </label>
                        </section>
                    </fieldset>
                    <form class="smart-form">
                    <label class="input" style="width:100%">
						<input style="margin-left:4px;margin-bottom:5px;border-color:#eee;" type="text" maxlength="20" placeholder="hosts filename">
					</label>
                    <a style="margin-bottom:5px;" class="btn btn-xs btn-primary bg-color-green pull-right" (click)="importHosts($event)">Create</a>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <h2 class="row-seperator-header"><i class="fa fa-th-list"></i> Accordions </h2>
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <sa-widget class="jarviswidget well transparent" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                        [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Accordions </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body">

                    <accordion [closeOthers]="false">
                        <accordion-group [isOpen]="true" heading="Collapsible Group Item #1">

                        <div class="panel-collapse">
                            <div class="panel-body no-padding">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                <th>Column name</th>
                                <th>Column name</th>
                                <th>Column name</th>
                                <th>Column name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                                </tr>
                                <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                                </tr>
                                <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </accordion-group>
                        <accordion-group heading="Collapsible Group Item #2">
                        <div id="collapseTwo" class="panel-collapse">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                            labore sustainable VHS.
                            </div>
                        </div>
                        </accordion-group>
                        <accordion-group heading="Collapsible Group Item #3">
                        <div id="collapseThree" class="panel-collapse">
                            <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                            wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                            nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                            labore sustainable VHS.
                            </div>
                        </div>
                        </accordion-group>
                    </accordion>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

                </sa-widget>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->
        </div>
      </div>
  </div>
</div>