<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Hosts']" icon="h-square"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <form action="" class="smart-form">
                <fieldset style="padding:10px 14px 5px">	
                    <section style="margin-bottom: 5px">
                    <label class="label">Import Hosts File</label>
                    <label for="file" class="input input-file">
                        <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" placeholder="inventory" readonly="">
                    </label>
                    </section>
                    <a class="btn btn-xs btn-primary bg-color-green" (click)="importPlaybook($event)">Import</a>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top:25px;">
        <div *ngFor="let hostFile of hostFiles;" class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body status">
                    <div class="who clearfix">
                        <h4>{{hostFile.file}}
                            <a href="javascript:void(0);" style="margin-left:3px;" title="Save" class="btn btn-primary btn-circle pull-right"><i class="glyphicon glyphicon-cloud"></i></a>
                            <a href="javascript:void(0);" style="margin-left:3px;" title="Copy" class="btn btn-success btn-circle pull-right"><i class="glyphicon glyphicon-copy"></i></a>
                            <a href="javascript:void(0);" title="Delete" class="btn btn-danger btn-circle pull-right"><i class="glyphicon glyphicon-remove"></i></a>
                        </h4>
                    </div>
                    <div class="">
                        <form class="smart-form">
                        <fieldset>
                            <section>
                                <label class="textarea"> 										
                                    <textarea style="background-color: #f5f5f5;" spellcheck="false" rows="15" class="custom-scroll">{{ hostFile.groups }}</textarea> 
                                </label>
                            </section>
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>