<div id="content">
    <div class="row">
        <!--<sa-big-breadcrumbs [items]="['Tasks']" icon="tasks"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>-->
    </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body status">

                        <div class="who clearfix">
                            <h4>Available Tasks</h4>
                        </div>
                        <div [dragula]='"second-bag"' style="min-height: 80px" id="left">
                            <div class="text">
								<span style="font-weight: bold;padding-right:5px;" class="yaml-main">-</span><span style="font-weight:bold;padding-left:5px;padding-right:5px;" class="yaml-name">name:</span><span style="padding-left:5px;" class="yaml-main-info">This is a simple template task</span>
								<span style="padding-left:15px;font-weight:bold;display:block;" class="yaml-level-two">template:</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">src=/srv/httpd.j2</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">dest=/etc/httpd.conf</span>
							</div>
                            <div class="text">
								<span style="font-weight: bold;padding-right:5px;" class="yaml-main">-</span><span style="font-weight:bold;padding-left:5px;padding-right:5px;" class="yaml-name">name:</span><span style="padding-left:5px;" class="yaml-main-info">Copy ansible inventory file to client</span>
								<span style="padding-left:15px;font-weight:bold;display:block;" class="yaml-level-two">copy:</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">src=/etc/ansible/hosts</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">dest=/etc/ansible/hosts</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">owner=root</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">group=root</span>						
							</div>
                            <div class="text">
								<span style="font-weight: bold;padding-right:5px;" class="yaml-main">-</span><span style="font-weight:bold;padding-left:5px;padding-right:5px;" class="yaml-name">name:</span><span style="padding-left:5px;" class="yaml-main-info">Gather Juniper Facts</span>
								<span style="padding-left:15px;font-weight:bold;display:block;" class="yaml-level-two">junos_get_facts:</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three" ngNonBindable>host={{ inventory_hostname }}</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">savedir='.'</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">user=root</span>
								<span style="padding-left:25px;display:block;" class="yaml-level-three">passwd=Juniper</span>						
							</div>
                        </div>
                    </div>
			    </div>
                <button class="btn btn-small" (click)="executePlay($event)">Execute Play</button>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body status">
                        <div class="who clearfix">
                            <h4>Create the Play</h4>
                        </div>     
                                 
                        <div [dragula]='"second-bag"' style="min-height: 80px" id="right">

                        </div>
                    </div>
                </div>
            </div>
		</div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body status">

                        <div class="who clearfix">
                            <h4>Results of Play</h4>
                        </div>
                        <div>
                            <ul>
                                <li *ngFor="let task of messages;">{{task}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>