<div id="content">
    <div class="row">
        <!--<sa-big-breadcrumbs [items]="['Tasks']" icon="tasks"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>-->
    </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body status">

                        <div class="who clearfix">
                            <h4>Available Modules to Add</h4>
                        </div>
                        <div [dragula]='"second-bag"' style="min-height: 80px" id="left">
                            <div class="who clearfix">
                                <img src="assets/img/avatars/2.png" alt="img" class="busy">
                                <span class="name font-sm"> <span class="text-muted">Posted by</span> <b> Karrigan Mean <span class="pull-right font-xs text-muted"><i>3 minutes ago</i></span> </b>
                                    <br>
                                    <a href="javascript:void(0);" class="font-md linker">Business Requirement Docs</a> </span>
                            </div>

                            <div class="who clearfix">
                                <img src="assets/img/avatars/3.png" alt="img" class="offline">
                                <span class="name font-sm"> <span class="text-muted">Posted by</span> <b> Alliz Yaen <span class="pull-right font-xs text-muted"><i>2 days ago</i></span> </b>
                                    <br>
                                    <a href="javascript:void(0);" class="font-md linker">Maecenas nec odio et ante tincidun</a> </span>
                            </div>
                            <div class="who clearfix">
                                <img src="assets/img/avatars/4.png" alt="img" class="away">
                                <span class="name font-sm"> <span class="text-muted">Posted by</span> <b> Barley Kartzukh <span class="pull-right font-xs text-muted"><i>1 month ago</i></span> </b>
                                    <br>
                                    <a href="javascript:void(0);" class="font-md linker">Tincidun nec Gasket Mask </a> </span>
                            </div>
                        </div>
                    </div>
			    </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body status">
                        <div class="who clearfix">
                            <h4>Modules to Use</h4>
                        </div>
                        <div [dragula]='"second-bag"' style="min-height: 80px" id="right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>