<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->
    <ul saSmartMenu>
        <li routerLinkActive="active">
            <a routerLink="/home" title="Home">
                <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
        </li>
         <li routerLinkActive="active">
            <a routerLink="/import-project" title="Import Project">
                <i class="fa fa-lg fa-fw fa-upload"></i> <span class="menu-item-parent">{{'Import Project' | i18n}}</span></a>
        </li>
         <li routerLinkActive="active">
            <a routerLink="/hosts" title="Hosts">
                <i class="fa fa-lg fa-fw fa-h-square"></i> <span class="menu-item-parent">{{'Hosts' | i18n}}</span></a>
        </li>        
        <li routerLinkActive="active">
            <a routerLink="/tasks" title="tasks">
                <i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">{{'Tasks' | i18n}}</span></a>
            <ul>
              <li routerLinkActive="active">
                <a routerLink="/tasks/task-import">{{'Task Import' | i18n}}</a>
              </li>
            </ul>
        </li>
      <!--
       <li>
        <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/dashboard/analytics">{{'Analytics Dashboard' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/dashboard/social">{{'Social Wall' | i18n}}</a>
          </li>
        </ul>
      </li>
      -->
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
